.App{
  width: 600px;
  height: 600px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.inputs{
  margin: 10px 0;
}
